<nz-layout>
  <nz-header class="dashboard-header">
    <div class="header-title">Listado de Categorías</div>
  </nz-header>

  <nz-content class="dashboard-content">
    <div class="page-container">
      <!-- Barra de búsqueda -->
      <div class="search-bar">
        <input
          nz-input
          placeholder="Buscar por nombre de categoría"
          class="search-input"
          [(ngModel)]="searchQuery"
          (input)="buscarCategoria()"
        />
        <button nz-button nzType="primary" class="add-category-button" (click)="openModal()">
          Agregar Categoría
        </button>
      </div>

      <!-- Botones de exportación -->
      <div class="export-buttons">
        <button nz-button nzType="default">Exportar a PDF</button>
        <button nz-button nzType="default" (click)="exportToXLSX()">Exportar a XLSX</button>
        <button nz-button nzType="default" (click)="exportToCSV()">Exportar a CSV</button>

      </div>

      <!-- Tabla de productos -->
      <nz-card>
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>Nombre Categoria </th>
              <th>Tipo de producto</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categoria of categoriasFiltradas">
              <td>{{ categoria.nombreCategoria }}</td>
              <td>{{ categoria.tipo }}</td>
              <td>
                <button nz-button nzType="link" (click)="editCategory(categoria)">Editar</button>
                <button nz-button nzType="link" nzDanger (click)="deleteCategory(categoria)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </nz-card>
    </div>
  </nz-content>

   <!-- Modal para mostrar mensaje cuando no hay resultados -->
   <div *ngIf="isNoCategoryModalVisible" class="no-products-modal">
    <div class="modal-content">
      <span class="close-btn" (click)="closeNoCategoryModal()">×</span>
      <h3>No se encontraron productos para la búsqueda: "{{ searchQuery }}"</h3>
    </div>
  </div>

  <div *ngIf="isModalVisible" class="custom-modal">
    <div class="modal-header">
      <h3>{{ editingCategory?.id ? 'Editar Categoría' : 'Nueva Categoría' }}</h3>
      <span class="close-btn" (click)="closeModal()">×</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="saveCategory()">
      <div>
        <label for="nombreCategoria">Nombre</label>
        <input
          nz-input
          id="nombreCategoria"
          type="text"
          formControlName="nombreCategoria"
        />

      </div>

      <div class="form-group">
        <label for="tipo">Tipo de Producto</label>
        <select id="tipo" formControlName="tipo" class="form-control">
          <option *ngFor="let tipo of tiposProducto" [value]="tipo.value">{{ tipo.name }}</option>
        </select>
      </div>

      <div class="modal-actions">
        <button
          nz-button
          nzType="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          {{ editingCategory?.id ? 'Guardar Cambios' : 'Agregar Categoría' }}
        </button>
      </div>
    </form>
  </div>


</nz-layout>
