<div class="brandy-container">
    <div class="side-menu">
     
       <nz-sider [nzCollapsible]="true" [nzCollapsedWidth]="80" [nzWidth]="256" nzTheme="light">
           <h2 [routerLink]="['/licores']" class="menu-title">LICORES</h2> 
           <div class="menu-columns"></div>
           <h2 class="title-brandy">BRANDY</h2><!-- Título del componente -->
           
           <h2  class="menu-titleMarca">MARCA</h2> 
           <nz-menu nzMode="vertical" nzTheme="light">
             <nz-submenu nzTitle="Brandy">
               <div  class="menu-columns">
                 <nz-menu-item  >Paul Masson</nz-menu-item>
                 <nz-menu-item >Delord</nz-menu-item>
                 <nz-menu-item  >Laubade</nz-menu-item>
                 
               </div>
             </nz-submenu>
           </nz-menu>
   
   
               <h2  class="menu-titlePresentacion">PRESENTACIÓN</h2> <!-- Título del componente -->
               <nz-menu nzMode="vertical" nzTheme="light">
                 <nz-submenu nzTitle="Brandy">
                   <div class="menu-columns">
                     <nz-menu-item  >150ml</nz-menu-item>
                     <nz-menu-item >350ml</nz-menu-item>
                     <nz-menu-item  >500ml3</nz-menu-item>
                   </div>
             </nz-submenu>
           </nz-menu>
       </nz-sider>
     </div>
   
       
