
<div class="about-us-container">
    <!-- para el tema -->
    <section class="products-conclusion">
        <h2 class="conclusion-title">Sobre Nosotros</h2>
    </section>

    <div class="about-us-container">
        <section class="owner-section">
            <nz-card class="owner-card" nzBordered>
                <div class="owner-title">Propietario</div>
                <div class="owner-image"></div>
                <div class="owner-name">Nombre del cuñado de Ari</div>
            </nz-card>
        </section>
        <p>La Licorería "El chinito" es una empresa que se dedica a la venta de licores de todo tipo.
            Nuestro
            objetivo es brindar a nuestros clientes una experiencia única y satisfactoria, ofreciendo productos de alta
            calidad y un excelente servicio.</p>

        <section class="products-conclusion">
            <h2 class="conclusion-title">¿Quiénes somos?</h2>
        </section>

        <section class="development-team-section">
            <div class="team-title">Equipo de Desarrollo</div>
            <div class="team-cards">
                <nz-card class="developer-card" nzBordered>
                    <div class="developer-image"></div>
                    <div class="developer-name">Ing. Anderson Velásquez</div>
                    <div class="developer-correo">hvelasquezxxx&#64;utm.edu.ec</div>
                    <div class="developer-age">21 años</div>
                </nz-card>
                <nz-card class="developer-card" nzBordered>
                    <div class="developer-image"></div>
                    <div class="developer-name">Ing. Josselyn De la Cruz</div>
                    <div class="developer-correo">jdelacruzxxxx&#64;utm.edu.ec</div>
                    <div class="developer-age">21 años</div>
                </nz-card>
                <nz-card class="developer-card" nzBordered>
                    <div class="developer-image"></div>
                    <div class="developer-name">Ing. Hansel Alcívar</div>
                    <div class="developer-correo">halcivar3030&#64;utm.edu.ec</div>
                    <div class="developer-age">21 años</div>
                </nz-card>
            </div>
        </section>
    </div>

    <p>Somos 3 estudiantes universitarios, quienes buscan facilitar los procesos tantos para los usuarios finales como para el propietario, mediante conocimientos adquiridos en la trayectoria de nuestra carrera   </p>

    <!-- Contáctanos -->
    <section class="contact-us-section">
        <div class="contact-title">Contáctanos</div>
        <div class="contact-content">
            <p>Si deseas comunicarte con nosotros, no dudes en enviarnos un correo a nuestro equipo <a
                    href="halcivar3030@utm.edu.ec">aquí</a> o llamarnos al <strong>+593 98 765 4321</strong>.</p>
        </div>
    </section>
</div>