<div class="products-grid">
  <!-- Itera cada producto -->
  <ng-container *ngFor="let producto of productos">
    <!-- Itera cada presentación del producto -->
    <div class="product-card" *ngFor="let presentacion of obtener_Presentaciones_Filtradas(producto)">
      <div class="product-image">
        <img [src]="obtenerImagen(producto.imagen)" [alt]="producto.nombre" />
      </div>
      <div class="product-details">
        <h3>{{ producto.nombre }}</h3>
        <p>{{ presentacion.presentacion_ml }} ml</p>
        <div class="price">
          <span class="old-price" *ngIf="presentacion.precio > 10">
            ${{ presentacion.precio | number: "1.2-2" }}
          </span>
          <span class="discount-price">
            ${{
              presentacion.precio * (1 - presentacion.descuento) | number: "1.2-2"
            }}
          </span>
        </div>
        <button
          nz-button
          nzType="primary"
          class="boton-comprar"
          (click)="agregarProductoAlCarrito(producto, presentacion)"
        >
          Comprar
        </button>
      </div>
    </div>
  </ng-container>
</div>
