/* Contenedor general */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  gap: 2%;
  padding: 15px;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

/* Tarjeta de producto */
.product-card {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  padding: 5px 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  border: 1px solid #f0f0f0;
  max-width: 100%;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.product-image {
  aspect-ratio: 9/16;
  max-height: 180px;
  overflow: hidden;
  border-radius: 12px;
  object-fit: contain;
}

.product-image img {
  width: auto;
  position: relative;
  height: 100%;
  object-fit: contain;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card:hover .product-image img {
  transform: scale(1.05);
}

/* Detalles del producto */
.product-details {
  padding: 5px;
  margin-bottom: 0;
}

h3 {
  font-size: 1.05rem;
  color: var(--text-dark);
  margin-bottom: 8px;
  font-weight: 600;
}
.presentations-list {
  height: 1.2rem;
  overflow-y: hidden;
  overflow-x: auto;
}

.presentations-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.presentations-list button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  cursor: pointer;
  margin: 0px;
  font-size: 0.7rem;
}

.presentations-list button.selected {
  background-color: #fbdece;
  color: var(--primary-color);
}

.product-details {
  font-size: 0.9rem;
  margin: 0;
}

/* Precio */
.price {
  align-items: center;
  gap: 12px;
  margin: 5px 0;
}

.discount-price {
  color: var(--text-dark);
  font-weight: 600;
}

.old-price {
  color: var(--text-light);
  font-size: 0.7rem;
  text-decoration: line-through;
}

/* Botón Comprar */
.boton-comprar {
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 0.6rem 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s, transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 15px auto auto auto;
}

#not-available {
  font-weight: 600;
  padding: 10px 20px;
  margin: 10px auto;
  color: rgb(2, 2, 2);
}

.boton-comprar:hover {
  background: var(--primary-color-hover);
  transform: scale(1.05);
}

.boton-comprar:active {
  transform: scale(0.98);
}

/* Mensaje sin productos */
.no-products-message {
  text-align: center;
  color: #d32f2f;
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 5%;
  }
  .product-card {
    padding: 10px;
  }
  h3 {
    font-size: 0.85rem;
  }
  .product-details {
    font-size: 0.8rem;
  }
  .presentations-list {
    height: 2rem;
    justify-content: center;
  }
  .presentations-list ul{
   width: 100%;
  }
  .presentations-list li {
    margin: 0;
    padding: 0%;

  }
  .presentations-list button{
    font-size: 0.6rem;
    font-weight: 700;
  }
  .boton-comprar {
    font-size: 0.7rem;
    width: 80%;
    max-height: 10px;
    padding: 0.6rem 1rem;
  }
}
