<div class="products-grid">
  <ng-container *ngFor="let producto of productos">
    <div class="product-card">
      <div class="product-image">
        <img [src]="obtenerImagen(producto.imagen)" [alt]="producto.nombre" />
      </div>
      <h3>{{ producto.nombre }}</h3>
      <div class="product-details">
        <!-- Mostramos el precio solo si hay una presentación seleccionada para este producto -->
        <div *ngIf="producto.presentacionSeleccionada">
          <div class="presentations-list">
            <!-- Selector desplegable -->
            <select (change)="seleccionarPresentacion($event, producto)">
              <option *ngFor="let presentacion of producto.presentaciones" [value]="presentacion | json">
                {{ presentacion.presentacion_ml }} ml
              </option>
            </select>
          </div>

          <!-- Mostramos el precio solo si la presentación seleccionada tiene un precio válido -->
          <div
            class="price"
            *ngIf="
              producto.presentacionSeleccionada &&
              producto.presentacionSeleccionada.precio > 0
            "
          >
            <span class="old-price" *ngIf="producto.presentacionSeleccionada.precio > 10">
              ${{ producto.presentacionSeleccionada.precio | number : "1.2-2" }}
            </span>
            <span class="discount-price">
              ${{
                producto.presentacionSeleccionada.precio *
                  (1 - producto.presentacionSeleccionada.descuento)
                  | number : "1.2-2"
              }}
            </span>
          </div>

          <!-- Botón de comprar o mensaje de no disponible -->
          <div
            *ngIf="
              producto.presentacionSeleccionada.cantidad > 0;
              else noDisponible"
          >
            <button
              nz-button
              nzType="primary"
              class="boton-comprar"
              (click)="
                agregarProductoAlCarrito(
                  producto,
                  producto.presentacionSeleccionada
                )
              "
            >
              Comprar
            </button>
          </div>
          <ng-template #noDisponible>
            <p id="not-available">¡No disponible!</p>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
</div>
