<div class="filters">
  <div>
    <label>Productos encontrados: {{ productosTotal }}</label>
  </div>

  <!-- Filtro por Marca -->
  <div class="filter-item">
    <label>Seleccione Marca</label>
    <select class="custom-select"
    [(ngModel)]="selectedMarca"
    (change)="onMarcaChange(selectedMarca)">
      <option [ngValue]="null">Todas las marcas</option>
      <option *ngFor="let marca of marcas" [ngValue]="marca">{{ marca }}</option>
    </select>
  </div>

  <!-- Filtro por Presentación -->
  <div class="filter-item">
    <label>Seleccione Presentación</label>
    <select class="custom-select"
    [(ngModel)]="selectedPresentacion"
    (change)="onPresentacionChange(selectedPresentacion )">
      <option [ngValue]="null">Todas</option>
      <option *ngFor="let presentacion of presentaciones" [ngValue]="presentacion">
        {{ presentacion }} ml
      </option>
    </select>
  </div>

  <!-- Artículos por Página -->
  <div class="filter-item productos-por-pagina">
    <label>Artículos por página:</label>
    <select class="custom-select" [(ngModel)]="productosPorPagina" (change)="onProductosPorPaginaChange(productosPorPagina)">
      <option *ngFor="let option of [8, 12, 24]" [value]="option">{{ option }}</option>
    </select>
  </div>
</div>
