<div>
  <label>Productos encontrados: {{ productosTotal }}</label>
</div>
<div class="filters">
  <!-- Filtro por Marca -->
  <div class="filter-item">
    <label>Marca</label>
    <select
      class="custom-select"
      [(ngModel)]="selectedMarca"
      (change)="seleccionarMarca(selectedMarca)"
    >
      <option [ngValue]="null">Todas las marcas</option>
      <option *ngFor="let marca of marcas" [ngValue]="marca">
        {{ marca }}
      </option>
    </select>
  </div>

  <!-- Filtro por Presentación -->
  <div class="filter-item">
    <label>Presentación</label>
    <select
      class="custom-select"
      [(ngModel)]="selectedPresentacion"
      (change)="seleccionarPresentacion(selectedPresentacion)"
    >
      <option [ngValue]="null">Todas</option>
      <option
        *ngFor="let presentacion of presentaciones"
        [ngValue]="presentacion"
      >
        {{ presentacion }} ml
      </option>
    </select>
  </div>

  <!-- Artículos por Página -->
  <div class="filter-item productos-por-pagina">
    <label>Página:</label>
    <select
      class="custom-select"
      [(ngModel)]="productosPorPagina"
      (change)="productosPagina(productosPorPagina)"
    >
      <option *ngFor="let option of [8, 12, 24]" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
</div>
