.home-container {
  margin-top: 70px;
    padding: 0px;
  }
  .whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .whatsapp-button {
    background-color: #2AA81A;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .whatsapp-button i {
    font-size: 24px;
    color: white;
  }
  
  .whatsapp-popup {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2AA81A;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  
  .popup-body {
    padding: 15px;
    text-align: center;
  }
  
  .chat-button {
    background-color: #2AA81A;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-button i {
    margin-left: 5px;
  }
  
  .full-screen-carousel {
    height: 85vh; /* Altura completa de la pantalla */
    width: 100vw;  /* Ancho completo de la pantalla */
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
  }
  
  .carousel-item {
    position: relative;
    height: 100%;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(0.7);
  }
  
  .carousel-caption {
    position: absolute;
    top: 60%; /* Ubica el texto al pie de la imagen */
    color: white; /* Texto en color blanco */
    text-align: center;
    right: 0; 
    padding: 10px 10px; /* Espaciado interno del texto */
   
  }
  

  .welcome-section {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    animation: slideIn 1s ease-out;
    width: 800px; /* Animación de entrada */
  }
  
  .welcome-title {
    font-size: 38px;
    font-weight:800;
    text-transform: uppercase;
    color: #ff4100; /* Color llamativo */
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in; /* Animación específica para el título */
  }
  
  .welcome-text {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff; /* Color blanco para mayor contraste */
    animation: fadeIn 2.5s ease-in; /* Animación específica para el texto */
  }
  
  /* Animaciones específicas para cada card */
.card.animation-card1:hover .welcome-section {
  animation: bounceInRight 3s ease forwards;
}
.carousel-caption2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2-section {
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 200px;
  border-radius: 10px;
  animation: slideIn 1s ease-out;
  width: 100%;  /* Reducir el tamaño para que no sea 100% */
  height: 100%;
  text-align: center;
  display: inline-block;
}

.card2-title {
  font-size: 38px;
  font-weight:800;
  text-transform: uppercase;
  color: #ff4100; /* Color llamativo */
  margin-bottom: 10px;
  animation: fadeIn 2s ease-in; /* Animación específica para el título */
  animation: slideInLeft 1s ease-out forwards;
}

.card2-text {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff; /* Color blanco para mayor contraste */
  animation: fadeIn 2.5s ease-in; /* Animación específica para el texto */
}

.card.animation-card2:hover .welcome-section {
  animation: flipInY 3s ease forwards;
}


/* Animación de la tarjeta al entrar */
.carousel-item.animate-card2 .content {
  animation: fadeInUp 1.5s ease-out forwards;
}


/* Botón */
.btn-shop {
  background-color: #e74c3c;
  color: white;
  padding: 12px 24px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-shop:hover {
  background-color: #c0392b;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Keyframes para animaciones */
@keyframes bounceInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  60% {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%); /* Comienza desde fuera del contenedor */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Termina en su posición original */
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Estilo Categorias  */

.carousel-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-top: 0;
  padding: 0 30px;
   margin: 20px;
}
.carousel-container h1{
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}
.descubre p{
  color: #7b7979;
  font-weight: 500;
  font-size: 15px;
}
.horizontal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.horizontal-item {
  display: flex;
  flex-direction: column;
  padding-inline: 0;
  width: 100%; /* Cada tarjeta ocupa un 20% del ancho del contenedor para mostrar 5 tarjetas */
  margin: 10px; /* Espaciado entre las tarjetas */
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
.category-card{
  align-items: center;
  justify-content: space-between; /* Espaciado entre los elementos */

}

.category-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: auto;
  padding: 8px 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.category-info {
  color: white;
  font-weight: 500;
}

.arrow {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}



/* Container that holds everything */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
}

.brand-logo {
  margin-right: 20px;
}

.brand-logo img {
  width: 200px;
  height: auto;
}

.text-content {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #333;
}

.category {
  font-weight: bold;
  color: #0a9d26;
  font-size: 28px;
  transition: color 0.5s ease-in-out;
}
#dynamic-text {
  display: inline-block;
  font-weight: bold;
  color: #FF5F00;
  animation: fade-in-out 3s infinite;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Producos destacados */
.products-container {
  text-align: center;
  padding: 2rem 1rem;
  background: #ffb064;
  position: relative; /* For arrow positioning */
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #a92203;
  margin-bottom: 1.5rem;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.nz-carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* Ensure one row */
}

.product-card {
  background-color: #fff;
  border: 1px solid #ff8226;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-width: 200px;
  margin: 0 auto;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.buy-button-container {
  margin-top: 1rem;
}

.buy-button {
  background-color: #ff5e00;
  border-color: #ff4000;
  color: #fff;
  width: 100%;
}

.buy-button:hover {
  background-color: #d72b00;
  border-color: #a92203;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-arrow:hover {
  background-color: #ff5e00;
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
}

/* Aviso de llamado de acción  */
.cta-divider {
  width: 50%;
  height: 2px;
  background-color: #a92203;
  margin: 1rem auto;
  border: none;
}

.cta-section {
  background-color: transparent; /* Fondo cálido que combina con la sección anterior */
  text-align: center;
  padding: 2rem 1rem; /* Espaciado interno para una apariencia limpia */
  border-radius: 12px; /* Bordes redondeados para suavizar el diseño */
  margin: 2rem 1rem; /* Espaciado externo para separación */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 1s ease-out;
}


.cta-section h2 {
  font-size: 2rem;
  color: #a92203; /* Color principal para el texto */
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.cta-section button {
  background-color: #ff5e00;
  border-color: #a92203;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-section button:hover {
  background-color: #d72b00;
  border-color: #a92203;
  transform: scale(1.05); /* Pequeña animación de escala */
}

.cta-section button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 94, 0, 0.3); /* Resalte accesible */
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  @media (max-width: 768px) {
    .home-container{
      margin-top: 128px;
    }
    .full-screen-carousel {
      height: 35vh; /* Altura completa de la pantalla */
      width: 100vw;  /* Ancho completo de la pantalla */
    }
    .carousel-item img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      filter: brightness(0.7);
    }

  .carousel-caption {
    top: 50%; /* Centrar el texto verticalmente */
    padding: 0;
  }
  .welcome-section {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 5px;
    
    animation: slideIn 1s ease-out;
    width: 410px; /* Animación de entrada */
  }
  
  .welcome-title {
    font-size: 20px;
    font-weight:700;
    margin-bottom: 8px;
    
   
  }
  .welcome-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff; /* Color blanco para mayor contraste */
    animation: fadeIn 2.5s ease-in; /* Animación específica para el texto */
  }
  .carousel-caption2 {
   
    width: 100%;
    height: 100%;
   
  }
  .card2-section {
    padding: 15px; /* Reducir el padding */
    width: 100%;  /* Reducir el ancho */
    height: 80%; /* Ajustar altura */
  }

  .card2-title {
    font-size: 30px;  /* Ajustar el tamaño del título */
  }

  .card2-text {
    font-size: 18px; /* Ajustar el tamaño del texto */
  }

  .btn-shop {
    padding: 10px 20px; /* Reducir el tamaño del botón */
  }


/* Estilo Categorias  */

.carousel-container {
  width: 90%;
  height: 795px;
 
}

.horizontal-container {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
}

.horizontal-item {
 margin: 5px; /* Espaciado entre las tarjetas */
  
}
.category-card{
  display: flex;
  flex-direction: row; /* Alinea los elementos en una fila */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  justify-content:left; /* Espaciado entre los elementos */
  gap: 30px;
  padding: 5px 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.category-image {
  margin-right: 0;
  margin: 0;
}

.category-info {
  color: white;
  font-weight: 500;
  justify-content: flex-start;
}

.arrow {
  display: none;
}

.product-card {
  margin: 10px 0;
}

.product-image {
  height: 80px;
}

/* Contenedor de productos destacados  */
.products-container {
  padding: 1rem 0.5rem;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.carousel-row {
  flex-wrap: wrap; /* Permitir que los elementos ocupen múltiples filas */
  justify-content: center; /* Centrar elementos */
}

.product-card {
  width: 90px; /* Reducir tamaño de las tarjetas */
  margin: 0.5rem; /* Agregar espacio entre tarjetas */
}

/* Productos destacados  */
  .products-container {
    padding: 1rem 0.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .carousel-row {
    flex-wrap: wrap; /* Permitir varias filas */
    justify-content: center;
  }

  .product-card {
    max-width: 150px; /* Reducir tamaño de las tarjetas */
    margin: 0.5rem;
  }

  .product-image {
    height: 100px; /* Ajustar altura de la imagen */
  }

  .buy-button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .carousel-arrow {
    width: 30px;
    height: 30px;
  }

  .carousel-arrow-left {
    left: 5px;
  }

  .carousel-arrow-right {
    right: 5px;
  }




}
  


/* Responsivo para pantallas muy pequeñas (350px o menos) */
@media (max-width: 350px) {
  /* Ajustar el contenedor del carrusel */
  .full-screen-carousel {
    height: 60vh; /* Ajustar aún más la altura */
  }

  .carousel-caption {
    top: 40%; /* Asegurar que el texto siga siendo visible */
    padding: 10px;
  }

  .card2-section {
    padding: 50px; /* Reducir más el padding */
    width: 90%;
    height: auto;
  }

  .card2-title {
    font-size: 25px; /* Ajustar el tamaño del título */
  }

  .card2-text {
    font-size: 16px; /* Ajustar el tamaño del texto */
  }

  .btn-shop {
    padding: 8px 15px; /* Reducir aún más el tamaño del botón */
  }
  .section-title {
    font-size: 24px;
  }

}

