<div class="licores-container">
  <div class="section-header">
    <h2 class="section-title"> 🥃 WHISKEY</h2>
    <!-- <p class="section-subtitle">"El mejor acompañante para tus momentos épicos – ¡líquidos con carácter para historias memorables!"</p> -->
  </div>
  <app-side-menu
    [categorias]="categorias"
    [marcas]="marcasCantidad"
    [presentaciones]="presentacionesCantidad"
    (categoriaSeleccionada)="manejarSeleccionCategoria($event)"
    (marcaSeleccionada)="manejarFiltroMarca($event)"
    (presentacionSeleccionada)="
      manejarFiltroPresentacion($event ? +$event : null)
    "
  ></app-side-menu>

  <div class="licores-content">
    <app-filtros-componente
      [marcas]="marcas"
      [presentaciones]="presentaciones"
      [productosTotal]="productos.length"
      [productosPorPagina]="productosPorPagina"
      (filtrarPorMarca)="manejarFiltroMarca($event)"
      (filtrarPorPresentacion)="manejarFiltroPresentacion($event)"
    ></app-filtros-componente>

    <div *ngIf="productos.length === 0" class="no-products-message">
      No hay productos disponibles para los filtros seleccionados.
    </div>

    <app-product-list [productos]="productosPaginados"></app-product-list>

    <app-paginacion
      [paginaActual]="paginaActual"
      [totalPaginas]="totalPaginas"
      (cambiarPagina)="cambiarPagina($event)"
    ></app-paginacion>
  </div>
</div>
