<div class="licores-container">

  <div class="section-header">
    <h2 class="section-title"> 🍾Licores</h2>
    <p class="section-subtitle">"El mejor acompañante para tus momentos épicos – ¡líquidos con carácter para historias memorables!"</p>
  </div>
  <!-- Menu lateral -->
  <app-side-menu
    [categorias]="categorias"
    [marcas]="marcasCantidad"
    [presentaciones]="presentacionesCantidad"
    (categoriaSeleccionada)="manejarSeleccionCategoria($event)"
    (marcaSeleccionada)="manejarFiltroMarca($event)"
    (presentacionSeleccionada)="
      manejarFiltroPresentacion($event ? +$event : null)
    "
  >
    >
  </app-side-menu>

  <div class="licores-content">
    <!-- Header Image and Title -->
    <!-- <div class="licores-header">
      <img [src]="'assets/images/imagenLicores.jpg'" alt="Licor" class="header-image">
    </div> -->

    <!-- Filtros y Opciones de Ordenamiento -->
    <app-filtros-componente
      [marcas]="marcas"
      [presentaciones]="presentaciones"
      [productosTotal]="productos.length"
      [productosPorPagina]="productosPorPagina"
      (filtrarPorMarca)="manejarFiltroMarca($event)"
      (filtrarPorPresentacion)="manejarFiltroPresentacion($event)"
    ></app-filtros-componente>

    <div *ngIf="productos.length === 0" class="no-products-message">
      No hay productos disponibles para los filtros seleccionados.
    </div>

    <!-- Products List -->
    <app-product-list
      (agregarAlCarrito)="agregarProductoAlCarrito($event)"
      [productos]="productosPaginados"
      [selectedPresentacion]="seleccionarPresentacion"
    >
    </app-product-list>

    <div class="paginacion">
    <!-- Paginación -->
    <app-paginacion
      [paginaActual]="paginaActual"
      [totalPaginas]="totalPaginas"
      (cambiarPagina)="cambiarPagina($event)"
      (cambiarProductosPorPagina)="
        cambiarProductosPorPagina($event ? +$event : 0)
      "
    >
    </app-paginacion>
  </div>

  </div>
</div>
