/* You can add global styles to this file, and also import other style files */
*{
margin: 0; /* Elimina los márgenes */
  padding: 0; /* Elimina el padding */
  border: none; /* Elimina cualquier borde */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}
body{
  font-family: 'Mona Sans', sans-serif;
}