
<div class="confiteria-container">
    <!-- Menu lateral -->
    <div class="side-menu">
      <nz-sider [nzCollapsible]="true" [nzCollapsedWidth]="80" [nzWidth]="256" nzTheme="light">
        <h2 [routerLink]="['/confiteria']" class="menu-title">CONFITERÍA</h2>
        <!-- Título del componente -->
        <nz-menu nzMode="vertical" nzTheme="light">
          <nz-submenu nzTitle="Categorías">
            <div class="menu-columns">
              <nz-menu-item
                *ngFor="let categoria of categorias"
                [ngClass]="{'active': selectedCategoria === categoria.nombreCategoria}"
                (click)="selectCategory(categoria.Categoria)"
                [routerLink]="['/', categoria.Categoria]">
                <span class="circle-indicator" [ngClass]="{'selected': selectedCategoria === categoria.Categoria}"></span>
                <span class="category-name">{{ categoria.Categoria }}</span>
                <span class="item-count">{{ categoria.TotalProductos }}</span>
              </nz-menu-item>
            </div>
          </nz-submenu>
        </nz-menu>

        <h2 class="menu-titleMarca">MARCA</h2>
        <!-- Título del componente -->
        <nz-menu nzMode="vertical" nzTheme="light">
          <nz-submenu nzTitle="Marcas">
            <div class="menu-columns menu-columns-scrollable">
              <nz-menu-item *ngFor="let marca of marcasCantidad" (click)="filtrarPorMarca(marca.nombreMarca)" [ngClass]="{'active-item': selectedMarca === marca.nombreMarca}">
                {{marca.nombreMarca}}
                <span class="item-count">{{ marca.cantidad }}</span>
              </nz-menu-item>
            </div>
          </nz-submenu>
        </nz-menu>


      </nz-sider>
    </div>

    <div class="confiteria-content">
      <!-- Header Image and Title -->
      <div class="confiteria-header">
        <img [src]="'assets/images/imagenConfiteria.jpg'" alt="Confitería" class="header-image">
      </div>

      <!-- Filtros y Opciones de Ordenamiento -->
      <div class="filters">
        <!-- Mostrar productos encontrados -->
        <div>
          <label>Productos encontrados: {{ productos.length }}</label>
        </div>

        <!-- Filtro por Marca -->
        <div class="filter-item" style="position: relative;">
          <label>Seleccione Marca</label>
          <select class="custom-select"
          nz-dropdown-match-select-with="true" [(ngModel)]="selectedMarca" (ngModelChange)="filtrarPorMarca(selectedMarca)">
            <option value="">Todas las marcas</option>
            <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
          </select>
        </div>



        <!-- Cambiar Artículos por Página -->
        <div class="filter-item" style="position: relative;">
          <label>Artículos por página:</label>
          <select class="custom-select" nz-dropdown-match-select-with="true" [(ngModel)]="productosPorPagina" (ngModelChange)="cambiarPagina(1)">
            <option *ngFor="let option of [8, 12, 24]" [value]="option">{{ option }}</option>
          </select>
        </div>
      </div>
      <div *ngIf="productos.length === 0" class="no-products-message">
        No hay productos disponibles para los filtros seleccionados.
      </div>

      <!-- Products List -->
      <div class="products-grid">
        <div class="product-card" *ngFor="let producto of productosPaginados">
          <div class="product-image">
            <img [src]="producto.imagenUrl" [alt]="producto.nombreProducto" />
            <!--http://localhost:3000/uploads-->
          </div>
          <div class="product-details">
            <h3>{{ producto.nombreProducto }}</h3>
            <p>{{ producto.presentacion_ml }} ml</p>
            <div class="price">
              <span class="old-price" *ngIf="producto.precio > 10"> ${{ producto.precio | number:'1.2-2' }} </span>
              <span class="discount-price"> ${{ (producto.precio * 0.9) | number:'1.2-2' }} </span>
            </div>
           <button nz-button nzType="primary" class="Boton-comprar">Comprar</button>

          </div>
        </div>
      </div>

      <!-- Paginación -->
      <div class="custom-pagination-row">
        <!-- Botón para ir a la página anterior -->
        <button
          nz-button
          nzType="default"
          class="pagination-button"
          [disabled]="paginaActual === 1"
          (click)="cambiarPagina(paginaActual - 1)"
        >
          <i nz-icon nzType="double-left" nzTheme="outline"></i>
        </button>

        <!-- Botones de número de página -->
        <span *ngFor="let pagina of paginas">
          <button
            nz-button
            nzType="default"
            class="pagination-button"
            [ngClass]="{'active': pagina === paginaActual}"
            (click)="cambiarPagina(pagina)"
          >
            {{ pagina }}
          </button>
        </span>

        <!-- Botón para ir a la página siguiente -->
        <button
          nz-button
          nzType="default"
          class="pagination-button"
          [disabled]="paginaActual === totalPaginas"
          (click)="cambiarPagina(paginaActual + 1)"
        >
          <i nz-icon nzType="double-right" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </div>

