nz-layout {
  height: 100vh;
  background: #ffff;
}

.logo {
  height: 40px;
  margin: 16px;
  font-size: 16px;
  color: #000;
  background: #ffff;
      }
      .logo h3{
        font-weight: bold;
      }

      .header {
        display: flex;
        justify-content: flex-end; /* Alinea los iconos a la derecha */
        padding-right: 15px; /* Espacio desde el borde derecho */
        background: #fff; /* Asegura que el fondo sea claro */
        border-bottom: 1px solid #ddd; /* Línea separadora opcional */
      }

      .header-icons {
        display: flex;
        gap: 17px; /* Espacio entre los iconos */
        align-items: center;
        font-size: 18px; /* Asegura que los iconos tengan buen tamaño */
      }

      ul[nz-menu] span[nz-icon] {
        font-size: 16px; /* Aumenta el tamaño del icono */
      }
      nz-sider {
        width: 180px !important; /* Reducir el ancho */
        min-width: 40px !important;
        max-width: 180px !important;
      }
      nz-sider[nzCollapsed] {
        width: 80px !important;
        min-width: 80px !important;
        max-width: 80px !important;
      }
      .sider-trigger {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        cursor: pointer;
        background: #f0f0f0;
        border-bottom: 1px solid #ddd;
      }

      .sider-trigger span {
        font-size: 20px;
      }
      /* Ocultar el trigger de abajo */
nz-sider .ant-layout-sider-trigger {
  display: none !important;
}

.content {
  padding: 10px;
  background: #F9FAFB;
  min-height: 100vh;
}

.ant-layout-sider-children{
  background: #ffff;
  width: 2rem;
}
