<div class="footer-container">
    <div nz-row [nzGutter]="16" class="footer-content">
      <!-- LOCALES -->
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
        <h3>LOCAL</h3>
        <ul class="footer-list">
          <li>DIRECCIÓN</li>

        </ul>
      </div>

      <!-- FORMAS DE PAGO -->
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
        <h3>FORMAS DE PAGO</h3>
        <div class="payment-icons">
          <img src="assets/images/discovert.svg" alt="Discover" />
          <img src="assets/images/Visa.png" alt="Visa" />
          <img src="assets/images/mastercard.png" alt="Mastercard" />
          <img src="assets/images/Diners.jpg" alt="Diners" />
        </div>

      </div>

      <!-- INSTITUCIONAL -->
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
        <h3>INSTITUCIONAL</h3>
        <ul class="footer-list">
          <li>ACERCA DE LICORERIA EL CHINITO</li>
          <li>TIENDAS</li>
        </ul>
        <h3>POLÍTICAS</h3>
        <ul class="footer-list">
          <li>PRIVACIDAD</li>
          <li>DESPACHO Y ENTREGA</li>
        </ul>
      </div>

      <!-- SIGANOS -->
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
        <h3>SÍGANOS</h3>
        <div class="social-icons">
          <div class="social-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-whatsapp"></i>
          </div>

         </div>

      </div>
    </div>


    <!-- COPYRIGHT -->
    <div class="footer-copyright">
      <p>
        Copyright © 2020. Todos los derechos reservados. Todas las marcas y sus
        imágenes son propiedad de sus respectivos dueños. Se prohíbe la
        reproducción total o parcial de cualquier contenido sin autorización
        expresa.
      </p>
      <button (click)="irADashboard()">
        .
      </button>
    </div>
  </div>
