<div class="footer-container">
    <div nz-row [nzGutter]="16" class="footer-content">
      <!-- LOCALES -->
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
        <h3>LOCAL</h3>
        <ul class="footer-list">
          <li>DIRECCIÓN</li>
          
        </ul>
      </div>
  
      <!-- FORMAS DE PAGO -->
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
        <h3>FORMAS DE PAGO</h3>
        <div class="payment-icons">
          <img src="assets/icons/directa.png" alt="Directa" />
          <img src="assets/icons/visa.png" alt="Visa" />
          <img src="assets/icons/mastercard.png" alt="Mastercard" />
          <img src="assets/icons/diners.png" alt="Diners" />
        </div>
         <img src="assets/icons/pci.png" alt="PCI" />
      </div>
  
      <!-- INSTITUCIONAL -->
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
        <h3>INSTITUCIONAL</h3>
        <ul class="footer-list">
          <li>ACERCA DE TERRUÁ</li>
          <li>TIENDAS</li>
        </ul>
        <h3>POLÍTICAS</h3>
        <ul class="footer-list">
          <li>PRIVACIDAD</li>
          <li>DESPACHO Y ENTREGA</li>
        </ul>
      </div>
  
      <!-- SIGANOS -->
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6">
        <h3>SÍGANOS</h3>
        <div class="social-icons">
          <i nz-icon nzType="facebook" nzTheme="outline"></i>
          <i nz-icon nzType="instagram" nzTheme="outline"></i>
          <i nz-icon nzType="whatsapp" nzTheme="outline"></i>
        </div>
        <!-- SUSCRIPCIÓN -->
        <div class="subscribe">
          <h3>SUSCRÍBASE</h3>
          <p>Obtenga beneficios especiales</p>
          <nz-input-group [nzSuffix]="suffixIcon">
            <input nz-input placeholder="email" />
            <ng-template #suffixIcon>
              <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
            </ng-template>
          </nz-input-group>
        </div>
      </div>
    </div>
  
    <!-- COPYRIGHT -->
    <div class="footer-copyright">
      <p>
        Copyright © 2020. Todos los derechos reservados. Todas las marcas y sus
        imágenes son propiedad de sus respectivos dueños. Se prohíbe la
        reproducción total o parcial de cualquier contenido sin autorización
        expresa.
      </p>
    </div>
  </div>
  