<nz-layout>
  <nz-header class="dashboard-header">
    <div class="header-title">Listado de Marcas</div>
  </nz-header>

  <nz-content class="dashboard-content">
    <div class="page-container">
      <!-- Barra de búsqueda -->
      <div class="search-bar">
        <input
          nz-input
          placeholder="Buscar Marca"
          class="search-input"
          [(ngModel)]="searchQuery"
          (input)="buscarMarca()"
        />
        <button nz-button nzType="primary" class="add-brand-button" (click)="openModal()">
          Agregar Marca
        </button>
      </div>

      <!-- Botones de exportación -->
      <div class="export-buttons">
        <button nz-button nzType="default">Exportar a PDF</button>
        <button nz-button nzType="default" (click)="exportToXLSX()">Exportar a XLSX</button>
        <button nz-button nzType="default" (click)="exportToCSV()">Exportar a CSV</button>
      </div>

      <!-- Tabla de marcas -->
      <nz-card>
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>Nombre de la Marca</th>
              <th>Categoría</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let brand of filteredBrands">
              <td>{{ brand.nombre }}</td>
              <td>{{ brand.categoria }}</td>
              <td>
                <button nz-button nzType="link" (click)="editBrand(brand)">Editar</button>
                <button nz-button nzType="link" nzDanger (click)="deleteBrand(brand)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </nz-card>
    </div>
  </nz-content>

  <!-- Modal para mensaje de "sin resultados" -->
  <div *ngIf="isNoBrandModalVisible " class="no-products-modal">
    <div class="modal-content">
      <span class="close-btn" (click)="closeNoBrandModal()">×</span>
      <h3>No se encontraron productos para la búsqueda: "{{ searchQuery }}"</h3>
    </div>

  <!-- Modal para agregar/editar marcas -->
  <div *ngIf="isModalVisible" class="custom-modal">
    <div class="modal-header">
      <h3>{{ selectedBrand?.nombre ? 'Editar Categoría' : 'Agregar Categoría' }}</h3>
      <span class="close-btn" (click)="closeModal()">×</span>
    </div>
  <form (ngSubmit)="saveBrand()">
    <div>
      <label>Nombre de la Marca</label>
      <input nz-input [(ngModel)]="selectedBrand.nombre" name="nombre" required />
    </div>
    <div>
      <label>Categoría</label>
      <select nz-select [(ngModel)]="selectedBrand.categoria" name="categoria" required>
        <option *ngFor="let category of categories" [value]="category.nombre">
          {{ category.nombre }}
        </option>
      </select>
    </div>
    <div class="modal-actions">
      <button type="submit">{{ selectedBrand?.nombre ? 'Guardar' : 'Agregar' }}</button>
      <button type="button" (click)="closeModal()">Cancelar</button>
    </div>

  </form>

  </div>

