<nz-layout>
  <nz-header class="dashboard-header">
    <div class="header-title">Listado de Productos</div>
  </nz-header>

  <nz-content class="dashboard-content">
    <div class="page-container">
      <!-- Barra de búsqueda -->
      <div class="search-bar">
        <input
          nz-input
          placeholder="Buscar por nombre o mililitros"
          class="search-input"
          [(ngModel)]="searchQuery"
          (input)="buscarProducto()"
        />
        <button nz-button nzType="primary" class="add-product-button" (click)="openModal()">
          Agregar Producto
        </button>
      </div>

      <!-- Botones de exportación -->
      <div class="export-buttons">
        <button nz-button nzType="default">Exportar a PDF</button>
        <button nz-button nzType="default" (click)="exportToXLSX()">Exportar a XLSX</button>
        <button nz-button nzType="default" (click)="exportToCSV()">Exportar a CSV</button>
      </div>

      <!-- Tabla de productos -->
      <nz-card>
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Presentación (ml)</th>
              <th>Categoría</th>
              <th>Imagen</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productosFiltrados">
              <td>{{ producto.nombreProducto }}</td>
              <td>{{ producto.nombreMarca }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.precio }}</td>
              <td>{{ producto.presentacion_ml }}</td>
              <td>{{ producto.nombreCategoria }}</td>
              <td>
                <img *ngIf="producto.imagen" [src]="producto.imagen" [alt]= "producto.nombreProducto" />
              </td>
              <td>
                <button nz-button nzType="link" (click)="editProduct(producto)">Editar</button>
                <button nz-button nzType="link" nzDanger (click)="deleteProduct(producto)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </nz-card>
    </div>
  </nz-content>

  <!-- Modal para agregar/editar producto -->
  <div *ngIf="isModalVisible" class="custom-modal">
    <div class="modal-header">
      <h3>{{ editingProduct?.id ? 'Editar Producto' : 'Nuevo Producto' }}</h3>
      <span class="close-btn" (click)="closeModal()">×</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="saveProduct()">
      <div>
        <label for="nombre_Producto">Nombre</label>
        <input
          nz-input
          id="nombre_Producto"
          type="text"
          formControlName="nombreProducto"
        />
        <div *ngIf="form.get('nombreProducto')?.invalid && form.get('nombreProducto')?.touched">
          <small class="error">El nombre es obligatorio.</small>
        </div>
      </div>

      <div>
        <label for="marca">Marca:</label>
        <select formControlName="id_marca" id="marca" required>
          <option *ngFor="let marca of marcas" [value]="marca.id_marca">
            {{ marca.nombreMarca }}
          </option>
        </select>
        <div *ngIf="form.get('nombreMarca')?.invalid && form.get('nombreMarca')?.touched">
          <small class="error">La marca es obligatoria.</small>
        </div>
      </div>

      <div>
        <label for="cantidad">Cantidad</label>
        <input
          nz-input
          id="cantidad"
          type="number"
          formControlName="cantidad"
        />
        <div *ngIf="form.get('cantidad')?.invalid && form.get('cantidad')?.touched">
          <small class="error">La cantidad es obligatoria.</small>
        </div>
      </div>

      <div>
        <label for="precio">Precio</label>
        <input
          nz-input
          id="precio"
          type="number"
          formControlName="precio"
        />
        <div *ngIf="form.get('precio')?.invalid && form.get('precio')?.touched">
          <small class="error">El precio es obligatorio.</small>
        </div>
      </div>

      <div>
        <label for="presentacion">Presentación (ml)</label>
        <input
          nz-input
          id="presentacion"
          type="number"
          formControlName="presentacion_ml"
        />
        <div *ngIf="form.get('presentacion_ml')?.invalid && form.get('presentacion_ml')?.touched">
          <small class="error">La presentación es obligatoria.</small>
        </div>
      </div>

      <div>
        <label for="categoria">Categoría:</label>
        <select formControlName="id_categoria" id="categoria" required>
          <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
            {{ categoria.nombreCategoria }}
          </option>
        </select>
        <div *ngIf="form.get('nombreCategoria')?.invalid && form.get('nombreCategoria')?.touched">
          <small class="error">La categoría es obligatoria.</small>
        </div>
      </div>

      <div>
        <label>Imagen</label>
        <input
          nz-input
          type="file"
          (change)="onImageSelected($event)"
          accept="image/*"
        />
      </div>

      <div class="modal-actions">
        <button
          nz-button
          nzType="primary"
          type="submit"


        >
          {{ editingProduct?.id ? 'Guardar Cambios' : 'Agregar Producto' }}
        </button>
      </div>
    </form>

  </div>
</nz-layout>
